// theme colors
$primary: #19205d;
$secondary: #1ac886;
$error: #d32752;
$info: #f6c31c;
$yellow: #FFCE1F;
$blue: #1780FF;

// color palette
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "blue": $blue,
  "red": #e61919,
  "yellow": $yellow,
  "green": #19e635,
  "orange": #ffa600,
  "purple": #9900ff,
  "gray": #596573,
  "black": black,
  "white": white,
);

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;
$base-border-radius-s: 10px;
$base-border-radius-xs: 5px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

// font sizes
$base-font-size: 1.5rem;
$font-size-xs: $base-font-size * 0.5;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;