@use 'sass:math';

@mixin card($border-color: $primary) {
  box-sizing: border-box;
  display: block;
  padding: $base-padding * 2 $base-padding * 4;
  border: $base-border-thickness * 2 solid $border-color;
  box-shadow: $base-box-shadow;
  border-radius: $base-border-radius;
  position: relative;
  z-index: 3;
  transition: 0.15s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card {
  @include card;
}

@each $key, $val in $colors {
  .card-#{$key} {
    @include card($val);

    & .card-title {
      padding-bottom: $base-padding;
      font-weight: bold;
    }

    & .more {
      opacity: 0;
      display: none;
      transition: 0.15s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:hover .more {
      opacity: 1;
      display: inline-block;
      position: absolute;
      top: $base-padding * 2;
      right: $base-padding * 2;
      }
    }
}