@mixin hov($border-color: none, $shadow-color: transparent) {
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 5;

  &:hover {
    border: $base-border-thickness * 2 solid $border-color;
    box-shadow: 0px 0px 70px -10px $shadow-color;
  }
}

.hov {
  @include hov;
}

@each $key, $val in $colors {
  .hov-border-#{$key} {
    @include hov($val, transparent);
  }

  .hov-shadow-#{$key} {
    @include hov(none, $val);
    z-index: 10;
  }
}

.hov-pointer {
    cursor: pointer;
}